.cursor{cursor: pointer;}
.red{background-color: #DA2C43}
.container{width: 1650px;max-width: 90%;margin: auto;}
.delete{color: white;}
.signout{border: none;color: blue;text-decoration: underline;background-color: transparent;}
